<form action="/entries/comments" method="post">
	<input class="text-comment" type="text" name="entry[comment]" placeholder="Comment...">
	<input class="btn-comment" type="submit" value="Enter">
</form>