<form id="form-comment" action="/entries/comments" method="post">
	<textarea class="text-comment" name="comment" placeholder="Comment..."></textarea>
	<input class="btn-comment" type="submit" value="Enter">
</form>