
<div class="nav">

  <form action="/users/new" method='get'>
      <input type="submit" value='SIGN UP'>
    </form>

     <form action="/sessions/new" method='get'>
      <input type="submit" value ='BLOG-IN'>
    </form>

    <form action="/entries/printer" method='get'>
      <input type="submit" value ='GOLD PRINTER'>
    </form>

    <form action="/entries/toast" method='get'>
      <input type="submit" value ='TOAST'>
    </form>

    <form action="/entries/noodle" method='get'>
      <input type="submit" value ='NOODLE'>
    </form>

    <form action="/entries/dinosaur" method='get'>
      <input type="submit" value ='DINOSAUR'>

    <form action="/entries/blob" method='get'>
      <input type="submit" value ='BLOB'>
  </form>

</div>

