<div class="nav">
	<form action="/" method='get'>
  	<input type="submit" value='SAD HOME'>
  </form>
  <form action="/users/new" method='get'>
  	<input type="submit" value='SIGN UP'>
  </form>
  <form action="/sessions/new" method='get'>
  	<input type="submit" value ='LOG-IN'>
  </form>
  <form action="/users/profiles" method='get'>
  	<input type="submit" value ='COMMUNITY'>
  </form>
</div>

