<center>
<h2>NEW ENTRY</h2>
	<form action="/entries" method="post">
		<input class="title"type="text" name="entry[title]" placeholder="TITLE">
		<input class="wide" type=text name="entry[body]" placeholder="BODY">
		<input type="submit" value="PUBLISH">
	</form>
</center>