<center>
<h1>BLOG-IN</h1>
	<form action="/sessions" method="post">
		<input class="large" type="text" name="username" placeholder="Username">
		<input class="large" type="password" name="password" placeholder="Password">
		<input type="submit" value="BLOG-IN">
	</form>
</center>